@page "/medicines/edit/{Id:int}"

<h3>@Localizer["Edit"] @Localizer["Medicine"]</h3>

@if (medicineStock is null)
{
    <Loading />
}
else
{
    <MedicineStockForm @ref="medicineStockForm" MedicineStock="medicineStock" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
